@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: rgba(0, 27, 58, 0.5);
}
.fundo {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(15, 2, 75, 0.5));
    padding:  0 5%;
    position: relative;
}
section {
    width: 100%;
    height: 100vh;
}
nav {
    width: 100%;
    position: fixed;
    top:0;
    left: 0;
    padding: 15px 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.5);
}
nav .logo {
    width: 80px;
}
nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}
nav ul li a {
    text-decoration: none;
    color:#fff;
    font-size: 17px;
}
#home .conteudo {
    text-align: center;
    padding-top: 20%;
}
#praias, #historia, #localizacao .conteudo {
    padding-top: 10%;
}
#historia .conteudo {
    font-size: .9em;
}
#home .conteudo h1 {
    font-size: 100px;
    color: #fff;
    font-weight: 600;
}
.conteudo h1 {
    font-size: 60px;
    color: #fff;
    font-weight: 600;
}
.conteudo a {
    text-decoration: none;
    display: inline-block;
    color:#fff;
    font-size: 18px;
    border: 2px solid #fff;
    padding: 10px 50px;
    border-radius: 50px;
    margin-top: 20px;
}
.conteudo a:hover {
    color: #000000;
    background: #fff;
}
.back_video {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}
/*
@media (min-aspect-ratio: 16/9) {
    .back_video {
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9) {
    .back_video {
        width: auto;
        height: 100%;
    }
}*/
  @keyframes animar {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }